@using Cadastro_Pessoa.ViewModel;
@using Cadastro_Pessoa.Controllers;
@using Newtonsoft.Json;
@model Cadastro_Pessoa.ViewModel.PessoaViewModel

@{
    ViewBag.Title = "Cadastro de Pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
        
    List<SelectListItem> TipoPesquisa = new List<SelectListItem>();

    TipoPesquisa.Add(new SelectListItem
    {
        Text = "Código",
        Selected = true
    });

    TipoPesquisa.Add(new SelectListItem
    {
        Text = "Nome(Ativo)"
    });
    TipoPesquisa.Add(new SelectListItem
    {
        Text = "Nome(Todos)"
    });
}

<div class="pagina-div">
    <h2 class="title">Cadastro de Pessoas</h2>

    <div class="row-div" style="padding-left: 15px">
        @Html.DropDownListFor(model => model.TipoPesquisa, TipoPesquisa, new { @class = "form-control", @style = "width = 32px"})
        @Html.TextBoxFor(model => model.CampoPesquisa, new { @class = "form-control", @style = "width = 32px" })
        <button class="btn" id="btn-pesquisar">Pesquisar</button>
    </div>
    <table class="table table-bordered table-hover" id="table">
        <colgroup>
            <col style="width: 90px">
            <col style="width: 90px">
            <col style="width: 90px">
        </colgroup>
        <thead>
            <tr>
                <th>Ativo</th>
                <th>Código</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
<script type="text/javascript">
    $('#btn-pesquisar').click(function () {
        debugger;
        var CampoPesquisa = document.getElementById("CampoPesquisa").value;
        var TipoPesquisa = document.getElementById("TipoPesquisa").value;

        $.ajax({
            type: "GET",
            url: "/Pessoa/ListarTodos",
            contentType: "application/json; charset=utf-8",
            data: CampoPesquisa, TipoPesquisa,
            dataType: "json",
            success: function (result) {
                $.each(result, function ()
                {
                    //$("#table tbody").append("<tr> <tr>"+ result.id "</tr> <tr>"")
                })
            },
        });
</script>
}
