@using Cadastro_Pessoa.ViewModel;
@using Cadastro_Pessoa.Dominio;
@model IEnumerable<Pessoa>

@{
    ViewBag.Title = "Cadastro de Pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> TipoPesquisa = new List<SelectListItem>();

    TipoPesquisa.Add(new SelectListItem
    {
        Text = "Código"
    });

    TipoPesquisa.Add(new SelectListItem
    {
        Text = "Nome(Ativos)"
    });
    TipoPesquisa.Add(new SelectListItem
    {
        Text = "Nome(Todos)"
    });

    IEnumerable<SelectListItem> ITipoPesquisa = TipoPesquisa;

}

<div class="pagina-div">
    <h2 class="title">Cadastro de Pessoas</h2>

    <div class="row-div" style="padding-left: 15px">
        @using (Ajax.BeginForm("Index", "Pessoa", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "tabela" }))
        {
            @Html.DropDownList("TipoPesquisa", ITipoPesquisa, new { @class = "form-control", @style = "width = 32px" })
            @Html.TextBox("TextoPesquisa", null, new { @class = "form-control", @style = "width = 32px" })
            <button class="btn" id="btn-pesquisar" , type="submit">Pesquisar</button>
        }
        <div id="tabela">
            <table class="table table-bordered table-hover" id="table">
                <colgroup>
                    <col style="width: 90px">
                    <col style="width: 90px">
                    <col style="width: 90px">
                </colgroup>
                <thead>
                    <tr>
                        <th>Ativo</th>
                        <th>Código</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                @Html.Partial("_Pessoas", Model)
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")      
}