body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    padding: 0 5px 0 5px;
}

    a:hover {
        color: #337ab7;
    }

#menuToggle {
    display: inline-block;
    position: fixed;
    top: 15px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    height: 45px;
    margin-top: 65px;
}

.tab-div {
    margin-top: 110px;
    width: 980px;
    height: 500px;
    float: left;
    display: table;
    box-sizing: border-box;
    border-style: solid;
    border-spacing: 10px;
    border-color: #15A1FF;
    margin-left: 10px;
}

.row-div {
    width: 100%;
    height: 50px;
    border-top: 100px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: central;
    margin: 0px 0 5px 0;
    line-height: 1.6;
}

.date{
    width: 135px;
    margin-right: 10px;
}

.content-div {
    height: 52px;
    display: inline-block;
}

.save-bar {
    height: 50px;
    width: 100%;
    background: #8a8a8a;
    position: absolute;
    margin-top: 51px;
    padding-left: 15px;
    padding-top: 9px;
}

.pagina-div{
    margin-top: 60px;
}

.title{
    margin-left: 10px;
    margin-top: 10px;
    padding-top:0px;
}

.pesquisa {
    background-image:url("Img/lupa.png");
    width: 90px;
    height: 25px;
}

.errormessages
{
    margin-top: 150px;
    display: block;
    width: 150px;
}

.btn-salvar
{
    vertical-align: central;
    width: 80px;
    height: 41.5px;
}